body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.spa-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: url('../assets/background.jpg');
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	opacity: 1;
  	transition: opacity .333s ease-in-out;
}

.spa-background-blurred {
	position: relative;
	top: -0px;
	left: -4px;
	width: 100%;
	height: 100%;
    background: url('../assets/background-blurred.jpg');
    -webkit-background-size: cover !important;
  	-moz-background-size: cover !important;
  	-o-background-size: cover !important;
  	background-size: cover !important;
  	background-repeat: no-repeat;
}

.spa-dashboard-container {
	position: absolute;
	left: 0;
    top: 50%;
    width: 100%;
    height: 640px;
    max-height: 100%;
    transform: translateY(-50%);
}

.spa-dashboard-panel {
	position: relative;
	margin: 0 auto;
	width: 416px;
	height: 100%;
}

.spa-score {
	position: absolute;
	top: 50%;
	width: 416px;
	height: 416px;
	border-radius: 9999px;
	border: 4px solid #e94335;
	overflow: hidden;
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
}

.spa-welcome-message-container {
	position: relative;
}

.spa-welcome-message {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	color: #e94335;
	text-align: center;
	font-size: 6em;
}